@charset "utf-8";
@import url("normalize.css");

body{
	font-family: "微软雅黑";
}

a{
	text-decoration: none;
	color: #333;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.w{
	width: 1200px;
	margin: 0px auto;
}

.left{
	float: left;
}

.right{
	float: right;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}


.aside-ad{
	width: 80px;
	height: 435px;
	position: absolute;
	top: 0px;
	left: 0px;
}


.box{
	width: inherit;
	height:350px;
	position: relative;
}
.box a{
	display: block;
	height: inherit;
	position: absolute;
	top: 0px;
	left: 0px;
}
.box a img{
	width: inherit;
	height: inherit;
}

.box .points{
	position: absolute;
	bottom: 20px;
	left: 50%;
}
.box .points span{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	float: left;
	margin: 0px 15px;
}
.box .points span.active{
	background-color: red;
}

